.MainDiv {
    text-align: center;
}

.MainDiv input {
    margin-bottom: 10px;
    width: 370px;
}

.MainDiv table {
    width: 800px;
    margin: 20px auto;
}

.MainDiv tbody td {
    padding: 3px;
}

.MainDiv tbody tr:hover {
    color: white;
    background-color: grey;
    cursor: pointer;
}

.MainDiv button {
    margin-left: 5px;
    width: 70px;
}